@use 'base' as *;

//--- Product details page---
// .product__details {
//     @include basicSectionStyling();
//     display: flex;
//     margin-top: 20px;

//     .single__product__image {
//         // width: 40%;
//         height: 900px;
//         margin-right: 50px;
//         padding: 50px;
//         img {
//             height: 100%;
//         }
//     }
//     .single__product__details {
//         width: 50%;
//         padding-top: 140px;

//         h6{
//             padding: 20px 0 0 0;
//             @include textColorAndSize($color-primary, 14px)
//         }
//         h4 {
//             padding: 40px 0 20px 0;
//             @include textColorAndSize($color-black, 24px)
//         }
//         h2 {
//             padding: 40px 0 20px 0;
//             @include textColorAndSize($color-black, 34px)
//         }
//         select {
//             display: block;
//             padding: 5px 10px;
//             margin-bottom: 10px;
//             background-color: $color-light;
//             border: 2px solid $color-black;
//         }
//         input {
//             width: 50px;
//             height: 50px;
//             padding-left: 10px;
//             font-size: 16px;
//             margin-right: 10px;
//             border: 2px solid $color-black;
//         }
//         span {
//             @include textColorAndSize($color-black, 24px);
//             line-height: 25px;
//         }
//     }
// }

// // --- MEDIA QUERIES ---
// @media screen and (max-width: 1180px) {
//     .product__details {
//         .single__product__image {
//             height: 700px;
//         }
//         .single__product__details {
//             padding-top: 110px;
    
//             h6{
//                 @include textColorAndSize($color-primary, 14px)
//             }
//             h4 {
//                 @include textColorAndSize($color-black, 18px)
//             }
//             h2 {
//                 @include textColorAndSize($color-black, 24px)
//             }
//             span {
//                 @include textColorAndSize($color-black, 16px);
//                 line-height: 14px;
//             }
//         }
//     }
// }

// @media screen and (max-width: 820px) {
//     .product__details {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
    
//         .single__product__image {
//             height: 600px;
//         }
//         .single__product__details {
//             padding: 0;
//         }
//     }
// }

// @media screen and (max-width: 414px) {
//     .product__details {
//         .single__product__image {
//             margin: 0;
//             width: 100%;
//             height: 600px;
//         }
//         .single__product__details {
//             padding: 0;
//             width: 100%;
    
//             h6{
//                 @include textColorAndSize($color-primary, 10px)
//             }
//             h4 {
//                 padding: 20px 0 0 0;
//                 @include textColorAndSize($color-black, 16px)
//             }
//             h2 {
//                 @include textColorAndSize($color-black, 20px)
//             }
//             span {
//                 @include textColorAndSize($color-black, 14px);
//                 line-height: 14px;
//             }
//         }
//     }   
// }
